output:
  directory: ./badlog-output
  emit_html: false
capture:
  device_serial:
  buffers: [all]
  format: threadtime
  ring_size: 400
  pre_context: 40
  post_context: 60
  incident_window_seconds: 30
suppression:
  drop_chatty: true
  drop_tags: []
  rate_limit_per_minute: 0
rules:
  files: []
verbosity: 0
